<!DOCTYPE html>
<html>
	<head>
		<title>Minecraft Builds Repository</title>
		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/singin.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/post.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/makepost.css" />

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
	</head>
	<body>
		<ul>
			<li><a href="/">Central Minecraft Builds Repository</a></li>
<!--			<li><a href="/post/1">View Post</a></li>-->
			{% if current_user.is_authenticated %}
				<li><a href="/make_post">Make post</a></li>
				<li style="float:right"><a>Hi, {{ current_user.get_id() }}</a></li>
				<li style="float:right"><a href="/logout">Log Out</a></li>
			{% else %}
				<li style="float:right"><a href="/signup">Sign Up</a></li>
				<li style="float:right"><a href="/signin">Sign In</a></li>
			{% endif %}
		</ul>
		<main>
			{% block content %}{% endblock %}
		</main>
		<footer>
			<p>&copy; 2023 Minecraft Builds Repository</p>
		</footer>
	</body>
</html>
