<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Minecraft Builds Repository</title>
		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/singin.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/post.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/makepost.css" />
<!--		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->

<!--		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>-->

		<!-- Latest compiled JavaScript -->
<!--		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		<div class="navbar" style="padding: 0">
			<ul >
			<li ><a href="/">Central Minecraft Builds Repository</a></li>
<!--			<li><a href="/post/1">View Post</a></li>-->
			{% if current_user.is_authenticated %}
				<li ><a href="/make_post">Make post</a></li>
				<li style="float:right"><a href="/logout">Log Out</a></li>
				<li style="float:right" id="navbar_username"><a>Hi, {{ current_user.get_id() }}</a></li>
			{% else %}
				<li style="float:right"><a href="/signup">Sign Up</a></li>
				<li style="float:right"><a href="/signin">Sign In</a></li>
			{% endif %}
		</ul>
		</div>

		<main>
			{% block content %}{% endblock %}
		</main>
		<footer>
			<div style="text-align: center">
				<p>&copy; 2023 Minecraft Builds Repository</p>

			</div>
		</footer>
	</body>

</html>
