<!DOCTYPE html>
<html>
<head>
 <title>Minecraft Builds Repository</title>
 <link rel="stylesheet" type="text/css" href="/static/main.css">
 <link rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
                    crossorigin="anonymous">
</head>
<body>
<!-- <header>-->
<!--  <h1>Minecraft Builds Repository</h1>-->
<!--  <nav>-->
<!--   <ul>-->
<!--    <li><a href="#">Home</a></li>-->
<!--    <li><a href="#">My Builds</a></li>-->
<!--    <li><a href="#">Search</a></li>-->
<!--    <li><a href="#">Logout</a></li>-->
<!--   </ul>-->
<!--  </nav>-->
<!-- </header>-->

<!--<div class="alert alert-primary" role="secondary">-->
<!-- <div class="topnav">-->
<!--  <h1 class="top_header">Central Minecraft Builds Repository</h1>-->
<!--  <a class="nav_bar">-->
<!--   <a class="active" href="#home">Home</a>-->
<!--&lt;!&ndash;  <a href="#news">News</a>&ndash;&gt;-->
<!--  <a href="#contact">Contact</a>-->
<!--  <a href="#about">About</a>-->
<!--  </a>-->

<!--</div>-->
 <ul>
  <li><a href="#home">Central Minecraft Builds Repository</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li style="float:top"><a class="active" href="#about">About</a></li>
</ul>
<!--</div>-->

 <main>
  <h2>Browse all builds</h2>

  <div class="tiles">
   <a href="http://youtube.com" class="no_underline">
   <div class="tile">
    <img src="/static/pictures/build1.png" alt="Build 1">
    <h3>Walking House</h3>
    <h5>By kepper104</h5>

   </div></a>
   <div class="tile">
    <img src="/static/pictures/build1.png" alt="Build 2">
    <h3>Walking House</h3>
    <h5>By kepper104</h5>
   </div><div class="tile">
    <img src="/static/pictures/build2.png" alt="Build 3">
    <h3>Some stupid farm</h3>
       <h5>By kepper104</h5>
   </div><div class="tile">
    <img src="https://via.placeholder.com/1920x1080" alt="Build 4">
    <h3>name here</h3>
       <h5>By kepper104</h5>
   </div><div class="tile">
    <img src="https://via.placeholder.com/2560x1440" alt="Build 5">
    <h3>name here</h3>
       <h5>By kepper104</h5>
   </div><div class="tile">
    <img src="https://via.placeholder.com/200x200" alt="Build 6">
    <h3>name here</h3>
       <h5>By kepper104</h5>
   </div><div class="tile">
    <img src="https://via.placeholder.com/600x600" alt="Build 7">
    <h3>name here</h3>
       <h5>By kepper104</h5>
   </div><div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>


  </div>
 </main>
 <h3>Build names with a lot of long words are not recommended</h3>
 <footer>
  <p>&copy; 2023 Minecraft Builds Repository</p>
 </footer>
</body>
</html>