{% extends "base.html" %} {% block content %}
<main>
    <h2 style="text-align: center; margin-top: 5%">Browse all builds</h2>

    <div class="tiles">
        {% for tile in posts['posts'] %}
        <a href="/post/{{tile['post_id']}}" class="no_underline">
            <div class="tile">
                <img src="/static/pictures/{{tile['thumbnail_image']}}"/>
                <h3>{{tile['title']}}</h3>
                <h5>By {{tile['author_name']}}</h5>
            </div>
        </a>
        {% endfor %}

    </div>
</main>

{% endblock %}
