{% extends "nav-bar.html" %}

{% block content %}
 <main>
  <h2>Browse all builds</h2>

  <div class="tiles">
   <a href="http://youtube.com" class="no_underline">
   <div class="tile">
    <img src="/static/pictures/build1.png" alt="Build 1">
    <h3>Walking House</h3>
    <h5>By kepper104</h5>

   </div></a>
   <div class="tile">
    <img src="/static/pictures/build1.png" alt="Build 2">
    <h3>Walking House</h3>
    <h5>By kepper104</h5>
   </div><div class="tile">
    <img src="/static/pictures/build2.png" alt="Build 3">
    <h3>Some stupid farm</h3>
       <h5>By kepper104</h5>
   </div><div class="tile">
    <img src="https://via.placeholder.com/1920x1080" alt="Build 4">
    <h3>name here</h3>
       <h5>By kepper104</h5>
   </div><div class="tile">
    <img src="https://via.placeholder.com/2560x1440" alt="Build 5">
    <h3>name here</h3>
       <h5>By kepper104</h5>
   </div><div class="tile">
    <img src="https://via.placeholder.com/200x200" alt="Build 6">
    <h3>name here</h3>
       <h5>By kepper104</h5>
   </div><div class="tile">
    <img src="https://via.placeholder.com/600x600" alt="Build 7">
    <h3>name here</h3>
       <h5>By kepper104</h5>
   </div><div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>
   <div class="tile">
    <img src="https://via.placeholder.com/1000x1000" alt="Build 8">
    <h3>name here</h3>
    <h5>By kepper104</h5>
   </div>


  </div>
 </main>

{% endblock %}