{% extends "base.html" %} {% block content %}

<div id="make-post">
    <strong><h1>Post a new Contraption</h1></strong>

    <form class="post_form" method="post">
<!--        Name-->
        <h4>Upload screenshots for your build</h4>



<!--    Screenshots upload-->
        <h4>Upload screenshots</h4>

        {% for i in iterat %}
        <input type="file" class="form-control-file" id="photo" name="screenshot_{{i}}"><br>
        {% endfor %}

<!--    Post button-->
        <button style="margin: 10px" type="submit" class="btn btn-primary">Continue</button>

    </form>
</div>

{% endblock %}