{% extends "base.html" %} {% block content %}

<div class="post">
    <h1>Minecraft Contraption - Automated Farm</h1>
    <p>Author: Steve</p>
    <p>Date posted: March 11, 2023</p>

    <h2>Screenshots</h2>
    <img src="farm1.png" alt="Screenshot of the automated farm" />
    <img src="farm2.png" alt="Another screenshot of the automated farm" />

    <h2>Description</h2>
    <p>
        This automated farm is designed to make your life easier in Minecraft. It will automatically harvest crops and replant them, so you don't have to spend time doing it yourself. It is perfect for large farms where manual labor can be
        a pain.
    </p>

    <h2>Text Tutorial</h2>
    <p>1. Dig a 5x5 hole in the ground where you want to build the farm.</p>
    <p>2. Place water in each corner of the hole.</p>
    <p>3. Place hoppers in the ground next to the water.</p>
    <p>4. Place a chest next to the hoppers.</p>
    <p>5. Place dirt blocks on top of the hoppers.</p>
    <p>6. Plant your crops on the dirt blocks.</p>
    <p>7. Place a redstone comparator next to one of the hoppers.</p>
    <p>8. Place a redstone repeater next to the comparator.</p>
    <p>9. Place redstone dust on top of the comparator and repeater.</p>
    <p>10. Place a lever next to the redstone dust.</p>
    <p>11. Flip the lever to turn on the farm.</p>
    <p>12. As the crops grow, they will be harvested by the water and collected by the hoppers.</p>
    <h2>Video Tutorial</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allowfullscreen></iframe>

    <div class="like-dislike">
        <span class="like" onclick="">&#x1f44d; <span id="likes">0</span></span>
        <span class="dislike" onclick="">&#x1f44e; <span id="dislikes">0</span></span>
    </div>

    <h2>Comments</h2>
    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
        <br />
        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment" required></textarea>
        <br />
        <input type="submit" value="Post Comment" />
    </form>

    <ul id="comment-list"></ul>
</div>

{% endblock %}
