{% extends "base.html" %} {% block content %}

<div class="post">
    <h1>{{title}}</h1>
    <p>Author: {{author_name}}</p>
    <p>Posted {{creation_date}}</p>

    <h2>Screenshots</h2>
<!--    <img src="farm1.png" alt="Screenshot of the automated farm" />-->
<!--    <img src="farm2.png" alt="Another screenshot of the automated farm" />-->

    <h2>Description</h2>
    <p>
<!--        This automated farm is designed to make your life easier in Minecraft. It will automatically harvest crops and replant them, so you don't have to spend time doing it yourself. It is perfect for large farms where manual labor can be-->
<!--        a pain.-->
        {{description}}
    </p>
    {% if (text_tutorial != "") %}
    <h2>Text Tutorial</h2>
    <p>{{text_tutorial}}</p>
    {% endif %}

    {% if (video_tutorial != "") %}
    <h2>Video Tutorial</h2>
<!--    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allowfullscreen></iframe>-->
    <iframe width="560" height="315" src="{{video_tutorial}}" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    {% endif %}

    <div class="like-dislike">
        <span class="like" onclick="">&#x1f44d; <span id="likes">0</span></span>
        <span class="dislike" onclick="">&#x1f44e; <span id="dislikes">0</span></span>
    </div>

    <h2>Comments</h2>
    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
        <br />
        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment" required></textarea>
        <br />
        <input type="submit" value="Post Comment" />
    </form>

    <ul id="comment-list"></ul>
</div>

{% endblock %}
