{% extends "base.html" %}

{% block content %}
  <div>>

    <form action="" method="post" class="login_form" novalidate>
        {{ form.hidden_tag() }}
        <h1 align="center">Sign in</h1>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(class="form-control") }}
            {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert"  style="padding: 10px">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert" style="padding: 10px">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
  </div>
{% endblock %}